body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background: black;

  transform: translate(-50%, -50%);
}

body > .point {
  position: fixed;
  width: calc(90vw / var(--columns));
  height: calc(90vh / var(--rows));

  box-shadow: 0px 0px var(--scale) calc(var(--scale) / 10) var(--color), 0px 0px min(calc(120vw / var(--columns)), calc(120vh / var(--rows))) min(calc(9vw / var(--columns)), calc(18vh / var(--rows))) var(--color);

  clip-path: circle(calc(min(calc(50vw / var(--columns)), calc(50vh / var(--rows))) * var(--scale)) at center);

  /* scale: var(--true-scale); */

  transition: background box-shadow 500ms;
}